<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="google-signin-client_id" content="102629415692-92fn510gpjosketphv6i2gbs1ds6o64l.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Mobius</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% block head %}
        {% endblock %}

    </head>
    <body>
        {% block body %}
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        {% block script %}
        {% endblock %}
    </body>
</html>