{% extends "mobius/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'mobius/login.css' %}">
{% endblock %}

{% block body %}
    <div id="mobius-login-body">
    <p id="mobius-login-heading">
        Login
    </p>
    <span class="mobius-incorrect-description">Incorrect Email or Password</span>
    <input type="email" class="email-transparent mobius-email-input" placeholder="Email" value="">
    <div class="mobius-password-container" style="margin-bottom: 20px;">
        <input type="password" class="mobius-password-input" placeholder="Password" value="">
        <div class="my-toggle hideShowPassword-toggle-hide" style="position: absolute;">SHOW</div>
    </div>
    <div id="mobius-submit-button">
        <span>Log In</span>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" onclick="signOut();">Sign out</a>
    </div>
{% endblock %}

{% block script %}
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log("Name: " + profile.getName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            var id_token = googleUser.getAuthResponse().id_token;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', {% url 'mobius:profile' %});
            xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token }}");
            xhr.onload = function() {
              console.log('Signed in as: ' + xhr.responseText);
            };
            xhr.send('idtoken=' + id_token);
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log("User signed out.");
            });
        }
    </script>
{% endblock %}