<div id="menu-container">
  <div id="menu-top">
    <div id="logo">
    </div>
    <div id="exit-menu" class="color-transition">
      <i class="fa fa-times"></i>
    </div>
  </div>
  <div id="archive-container">
    <div id="archive-top">
      <p>Archive</p>
      <a href="http://mobius-website-1.appspot.com/archive/create"><i class="fa fa-plus color-transition" ></i></a>
    </div>
    <div id="archive-panel">
      {{#archives}}
        {{#private}}
          <a href="http://mobius-website-1.appspot.com/archive?archive={{archiveid}}" id="archive{{archiveid}}">
          <div class="archive"><i class="fa fa-{{icon}}"></i><p>{{archivename}}</p><i class="fa fa-lock"></i></div>
          </a>
        {{/private}}
        {{^private}}
          <a href="http://mobius-website-1.appspot.com/archive?archive={{archiveid}}" id="archive{{archiveid}}">
          <div class="archive"><i class="fa fa-{{icon}}"></i><p>{{archivename}}</p></div>
          </a>
        {{/private}}
      {{/archives}}
    </div>
  </div>
</div>
