<div id="top-nav">
  <ul>
    <li id="menu" class="color-transition"><i class="fa fa-bars" class="new-archive"></i></li>
    <li id="recent" class="color-transition"><a href="http://mobiusdev-dev.us-east-1.elasticbeanstalk.com/WebApp/recent/index.php"><span>Recent</span></li></a>
    <li id="add-archive" class="color-transition"><a href="http://mobiusdev-dev.us-east-1.elasticbeanstalk.com/WebApp/archive/create/index.php"><i class="fa fa-plus"></i></a></li>
    <li id="search-bar">
      <div id="search-container">
        <i class="fa fa-search color-transition"></i>
        <input type="text" id="search-input" placeholder="Search" value="">
      </div>
    </li>
    <a href="http://mobiusdev-dev.us-east-1.elasticbeanstalk.com/WebApp/userSetting/index.php">
      <div id=user-option>
        <li id="user-image" style="float: right;"><div style="background:url({{userImage}}) 50% 50% / cover no-repeat;"></div></li>
        <li id="user-name" style="float: right;"><span>{{name}}</span></li>
      </div>
    </a>
  </ul>
</div>
